.global-nav {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: auto 0 auto 10vw;
  box-shadow: 10px 0 10px -10px black;
  position: fixed;
}

.global-nav > section {
  display: flex;
  padding: 2rem 3rem;
}

.nav-link {
  padding: 1rem;
  text-decoration: none;
  font-size: 3rem;
  transition: text-shadow 100ms ease-in-out;
}

.nav-link:hover {
  text-shadow: 0 0 2px black;
}

.nav-logo-section,
.nav-pages-section {
  flex-direction: column;
}

.nav-social-section {
  flex-direction: row;
  gap: 1rem;
}

.logo {
  display: flex;
  flex-direction: column;
}
